annotated-types==0.7.0
certifi==2025.1.31
charset-normalizer==3.4.1
idna==3.10
pydantic==2.11.3
pydantic-settings==2.8.1
pydantic_core==2.33.1
python-dotenv==1.1.0
requests==2.32.3
scheduler==0.8.8
typeguard==4.4.2
typing-inspection==0.4.0
typing_extensions==4.13.2
urllib3==2.4.0
